<?xml version="1.0" encoding="iso-8859-1" standalone="no" ?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>CANdelaStudio converters Add-on</title>
  <style type="text/css">

    <!--
      body          { font-size:12pt;font-family:arial,sans-serif;	color:#000000;	background-color: #E5E5E5;}
      h1            {font-size:18pt; font-family:arial,sans-serif}
      h2            {font-size:16pt; font-family:arial,sans-serif}
      h3            {font-size:12pt; font-family:arial,sans-serif}
      #newfeatures h3 {font-size:12pt; font-family:arial,sans-serif; background-color: #E5E5FF; padding: 0.3em;}
      h4            {font-size:10pt; font-family:arial,sans-serif}
      p,td,th,address,ul,ol,li    {font-size:10pt; font-family:arial,sans-serif}
      th            {background-color: #D0D0E0;}
      pre           {font-size:10pt;}
      p.small       {font-size:8pt; font-family:arial,sans-serif}
      .cr           {font-size:8pt; font-style:normal; display:block; color:navy}
      a             {font-family:arial,sans-serif}
                    /* from W3-REC.css: */
                    @media screen {  /* hide from IE3 */
                      a:hover { background: #FE0 } 
                    }
    //-->
 
    </style>
</head>
<body>
<!-- Original jpg: 715:213--> <img src="CANdelaStudioSmall.jpg"
 alt="[CANdelaStudio logo]" border="1" height="70" width="368" align="right" />
<h1><a name="_top">CANdelaStudio converters Add-on</a></h1>
<p>Copyright (c) 2005-2011 by Vector Informatik GmbH</p>
<hr />
<h2>Table of contents</h2>
<table border="0">
  <tbody>
    <tr>
      <td><a href="#Ch0">Overview</a></td>
    </tr>
    <tr>
      <td><a href="#Ch2">File list</a></td>
    </tr>
    <tr>
      <td><a href="#Ch3">New features</a></td>
    </tr>
    <tr>
      <td><a href="#Ch6">Known issues</a></td>
    </tr>
    <tr>
      <td><a href="#Ch7">License conditions</a></td>
    </tr>
    <tr>
      <td><a href="#Contact">Contact</a></td>
    </tr>
  </tbody>
</table>
<hr />
<h2><a name="Ch0">Overview</a></h2>

<p>This file is part of the converter Add-on that allows loading and
saving of CANdela documents (*.cdd and *.cddt) created by different
versions of CANdelaStudio. The converters are used by CANdelaStudio
and by Vector tools that support loading CANdela documents
(e.g. CANdelaStudio, CANdelaFlash, CANdito, CANape Graph, CANoe, CANdesc).</p>

<p>The converters contained in this Add-on support CANdela documents up
to <strong>CANdelaStudio 7.1 and Service Packs</strong> (CANdelaStudio 7.1 was released 2011-07-27).</p>

<p><a href="#_top">(top)</a></p>
<hr />
<h2><a name="Ch2">File list</a></h2>

<table style='margin-left:1cm'>
  <tbody>
    <tr>
      <td width='400'>*_*_*\*</td>
      <td>Folders containing converter binaries</td>
    </tr>
    <tr>
      <td>ReleaseNotes.htm</td>
      <td>Instructions (this file)</td>
    </tr>
  </tbody>
</table>

<p><a href="#_top">(top)</a></p>
<hr />
<div id='newfeatures'>
<h2><a name="Ch3">New features</a></h2>
<p class="SMALL">"EIPxxxx" refers an entry of the change request
database</p>

<!--
Hint for editing: in the list of new features,
describe how the user can reach a new feature (e.g. which menu item)!
-->

<h3>With CANdelaStudio 7.1 Release (2010-07-27)</h3>

<h4>4.0 &lt;-> 7.1, 5.0 &lt;-> 7.1,  5.5 &lt;-> 7.1,  6.0 &lt;-> 7.1, 6.5 &lt;-> 7.1, 7.0 &lt;-> 7.1</h4>
<p>Support new data model of CANdelaStudio 7.1</p>


<h3>With CANdelaStudio 7.0 Release (2010-07-12)</h3>

<h4>4.0 &lt;-> 7.0, 5.0 &lt;-> 7.0,  5.5 &lt;-> 7.0,  6.0 &lt;-> 7.0, 6.5 &lt;-> 7.0</h4>
<p>Support new data model of CANdelaStudio 7.0</p>


<h3>With CANdelaStudio 6.5 Release (2009-10-14)</h3>

<h4>4.0 &lt;-> 6.5, 5.0 &lt;-> 6.5,  5.5 &lt;-> 6.5,  6.0 &lt;-> 6.5</h4>
<p>Support new data model of CANdelaStudio 6.5</p>


<h3>With CANdelaStudio 6.0 Release (2008-09-19)</h3>

<h4>4.0 &lt;-> 6.0, 5.0 &lt;-> 6.0,  5.5 &lt;-> 6.0</h4>
<p>Support new data model of CANdelaStudio 6.0</p>


<h3>With CANdelaStudio 5.5 Release (2007-10-19)</h3>

<h4>4.0 &lt;-> 5.5, 5.0 &lt;-> 5.5</h4>
<p>Support new data model of CANdelaStudio 5.5</p>

<h4>2.0 -> 3.0</h4>
<ul>
<li>set mandatory at runtime = false only for 0x2a 0x04 (not for other 0x2a ProtocolServices).
    <span class='cr'>EIP9164 "Adapt mandatoryAtRuntime migration 2.0=>3.0"</span></li>
</ul>
<p>See also EIP9564 "Persistor in CANdelaStudio 5.5 Release fails to load 2.0 files".</p>

<h3>After CANdelaStudio 5.0 SP 2 (2007-02-12)</h3>

<p>CANdelaStudio 3.0 together with the converter shipped with
CANdelaStudio 5.0 Release is not able to load documents created with
CANdelaStudio Service Packs after 5.0 Release (e.g. with 5.0 SP 2).</p>
<p>This updated converter allows CANdelaStudio 3.0 (and all clients based
on CANdelaStudio &lt;= 4.0) to load such documents (i.e. documents
created with all CANdelaStudio 5.0 Service Packs).  Note that this was
already possible for clients based on CANdelaStudio &gt;= 4.0.</p>

<h3>With CANdelaStudio 5.0 Release (2006-08-02)</h3>

<p>Support new data model of CANdelaStudio 5.0.</p>

<h3>With CANdelaStudio 4.0 SP 4 (2006-05-23)</h3>

<h4>All versions</h4>
<ul>
<li>Tolerate UTF-8 files containing Byte Order Mark (e.g. from Notepad)
    <span class='cr'>EIP5487 "Add new expat to 1_3 and 3_4 Persistors"</span></li>
</ul>
<h4>2.0 -> 3.0</h4>
<ul>
<li>Avoid duplicate qualifiers
    <span class='cr'>EIP5886 "Correct migration of SharedProxyComp qualifiers from 2.0 -> 3.0"</span></li>
<li>Do not reject migration of files containing special EcuDoc qualifier
    <span class='cr'>EIP5437 "CDD with dtdvers='1.4.5' not loadable in CANdelaStudio 3.0"</span></li>
</ul>
<h4>3.0 -> 4.0</h4>
<ul>
<li>Allow migration of files created with CANdelaStudio 3.0 Release (not SP) to 4.0 
    <span class='cr'>EIP5180 "Files saved with released CANdelaStudio 3.0.4 are not loadable in CANdelaStudio 4.0"</span></li>
<li>Repair inconistent communication parameters
    <span class='cr'>EIP5213 "Migrate communication parameter properties to be consistent"</span></li>
</ul>
<h4>4.0 -> 3.0</h4>
<ul>
<li>Avoid loss of byte order for data objects in Packet Datatype (EIP5725)</li>
</ul>
<h4>3.0 -> 2.0</h4>
<ul>
<li>Avoid issue with duplicate data objects
    <span class='cr'>EIP4783 "It is not possible to save the .cdd file (see attachment on 2.0.5 format")</span></li>
</ul>


<p><a href="#_top">(top)</a></p>
</div>
<hr />


<h2><a name="Ch6">Known issues</a></h2>
<p>None at present.</p>

<p><a href="#_top">(top)</a></p>
<hr />

<h2><a name="Ch7">License conditions</a></h2>
<p>See license conditions of your Vector product.</p>
<p><a href="#_top">(top)</a></p>
<hr />

<h2><a name="Contact">Contact</a></h2>
<p>Please direct questions by phone or e-mail to:</p>

<table border='0' cellpadding='20'>
<tr>
<td>In Europe:</td>
<td>In North America:</td>
<td>In Asia (Japan):</td>
</tr>
<tr>
<td>
CANdela Support +49 (0)711/80670-280<br />
(Monday-Friday, 8:00-17:00)<br />
<a href="mailto:candela-support@vector-informatik.de">candela-support@vector-informatik.de</a>
</td>
<td>CANdela Support (248)449-9290 x247<br />
(Monday-Friday, 8:00-5:00 Eastern Time)<br />
<a href="mailto:candela-support@vector-cantech.com">candela-support@vector-cantech.com</a>
</td>
<td>CANdela Support +81-3-3516-7852 <br />
(Monday-Friday, 8:00-5:00)<br />
<a href="mailto:candela@vector-japan.co.jp">candela@vector-japan.co.jp</a>
</td>
</tr>
<tr><td>
<address> Vector Informatik GmbH<br />
Ingersheimer Stra&szlig;e 24<br />
D-70499 Stuttgart<br />
Tel. +49 (0)711/80670-0<br />
Fax  +49 (0)711/80670-299<br />
<a href="http://www.vector-informatik.de">http://www.vector-informatik.de</a>
</address>
</td><td>
<address>
Vector CANtech, Inc.<br />
39500 Orchard Hill Place<br />
Novi, MI   48375<br />
Tel. (248)449-9290<br />
Fax  (248)449-9704<br />
<a href="http://www.vector-cantech.com">http://www.vector-cantech.com</a>
</address>
</td><td>
<address>
Vector Japan Co., Ltd.<br /> 
Sea Front Square Center Build.18F<br />
2-3-12 Higashi-sinagawa,Shinagawa-ku<br />
Tokyo,140-0002 Japan<br />
TEL +81(0)3-5769-6970<br />
FAX +81(0)3-5769-6975<br />
<a href="http://www.vector-japan.co.jp">http://www.vector-japan.co.jp</a>
</address>
</td>
</tr>
</table>

<p>The Vector Group also offers training classes for CANdelaStudio. For more information, please visit our homepage!</p>


<p><a href="#_top">(top)</a></p>
<p><small>$Date: 2006-05-23 13:46:13 +0200 (Di, 23 Mai 2006) $</small></p>
</body>
</html>
